@model Business.Model.Models.Navigation_S
@{
    ViewBag.Title = "导航管理";
    Layout = "~/Views/Shared/_Add.cshtml";

    //ViewBag.Modules = "Navigation";
    //ViewBag.Ext = "Add";
}

<div class="rightpart">

    @if (ViewBag.OperType == "Edit")
    {
        <fieldset class="layui-elem-field layui-field-title">
            <legend>编辑导航</legend>
        </fieldset>
    }
    else
    {
        <fieldset class="layui-elem-field layui-field-title">
            <legend>添加导航</legend>
        </fieldset>
    }

    <div class="layui-inline">
        <label class="layui-form-label add-k">栏目编号</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.N_COLUMN_ID,
            new
            {
                @class = "layui-input layui-disabled",
                @readonly = "readonly"
            })
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label add-k">栏目名称</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.VC_COLUMN_NAME,
            new
            {
                @class = "layui-input layui-disabled",
                @readonly = "readonly"
            })
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label add-k">上级导航</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.VC_SUPER_NAVIGATION_NAME,
            new
            {
                @class = "layui-input layui-disabled",
                @readonly = "readonly"
            })
        </div>
    </div>


    <div class="layui-inline">
        <label class="layui-form-label add-k">导航名称</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.VC_NAVIGATION_NAME,
            new
            {
                @class = "layui-input",
                lay_verify = "q-required",
                placeholder = "请输入导航名称"
            })
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label add-k">排序编号</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.N_ORDER_NO,
            new
            {
                @class = "layui-input"
            })
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label add-k">页面打开方式</label>
        <div class="layui-input-inline add-v">
            @Html.TextBoxFor(c => c.VC_TARGET,
            new
            {
                @class = "layui-input"
            })
        </div>
    </div>

    <div class="layui-block">
        <label class="layui-form-label add-k">链接地址</label>
        <div class="layui-input-block add-v">
            @Html.TextBoxFor(c => c.VC_LINK,
            new
            {
                @class = "layui-input"
            })
        </div>
    </div>
</div>

    
    
               
                @*<td class="table-title" style="width: 90px;">页面打开方式：
                <span class="icon_help" title="_blank：在新窗口中打开被链接文档。
_self：默认。在相同的框架中打开被链接文档。
_parent：在父框架集中打开被链接文档。
_top：在整个窗口中打开被链接文档。
framename：在指定的框架中打开被链接文档。"></span></td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.VC_TARGET, new { @class = "k-input pw90" })
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">链接地址：</td>
                <td class="table-value" style="width: 150px;" colspan="5">
                    @Html.TextBoxFor(c => c.VC_LINK, new { @class = "k-input pw90" })
                </td>
            </tr>

        </table>
        <div class="formtitle">导航内容</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 20%;">图片：</td>
                <td class="table-value" style="width: 80%;">
                    <div id="fileQueue1"></div>
                    @Html.HiddenFor(c => c.VC_IMAGE, new { @class = "k-input pw90" })
                    <input type="file" name="uploadify" id="uploadify1" />
                    <div id="upload-button1" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="$('#uploadify1').uploadify('upload')"><span class="uploadify-button-text">上传图片</span></div>
                    <div id="delete-button1" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="delimage();"><span class="uploadify-button-text">删除图片</span></div>
                    <img id="img_show" style="max-width: 800px; max-height: 600px;" src="" />
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">视频：</td>
                <td class="table-value" style="width: 150px;">
                    <div id="fileQueue2"></div>
                    @Html.HiddenFor(c => c.VC_VEDIO, new { @class = "k-input pw90" })
                    <input type="file" name="uploadify" id="uploadify2" />
                    <div id="upload-button2" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="$('#uploadify2').uploadify('upload')"><span class="uploadify-button-text">上传视频</span></div>
                    <div id="delete-button2" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="delvedio();"><span class="uploadify-button-text">删除视频</span></div>
                    <video id="vedio_show" src="" style="max-width: 800px; max-height: 600px; display: none" controls="controls">
                        您的浏览器不支持 video 标签。
                    </video>
                </td>
            </tr>*@
 

@section HiddenArea {
    @Html.HiddenFor(c => c.N_COLUMN_ID)
    @Html.HiddenFor(c => c.N_SUPER_NAVIGATION_ID)
}
