@model Business.Model.Models.Navigation_S
@{
    ViewBag.Title = "添加导航";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section HeadContent{
    <link href="@Url.Content("~/Components/Uploadify/uploadify.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Components/Uploadify/jquery.uploadify.js")"></script>
    <script type="text/javascript">
        var CTRL = { art_parent: null, valform: null, dialog: null }
        $(function () {
            //验证提示动态代码
            $("*[datatype]").each(function (index) {
                $(this).before("<span class='prompt' style='position:relative'><div class='info' onMouseOut='javascript:$(this).hide();'><span class='Validform_checktip'></span><span class='dec'><s class='dec1'>&#9670;</s><s class='dec2'>&#9670;</s></span></div></span>");
            });

            //验证与提交（可以通过CTRL.valform.check()进行验证）
            CTRL.valform = $(".valform").Validform({
                tiptype: tiptype8,
                tipSweep: false,
                ajaxPost: true,
                btnSubmit: "#asave",
                callback: function () {
                    var queueCount1 = $('#fileQueue1').children('.uploadify-queue-item').length;
                    var queueCount2 = $('#fileQueue2').children('.uploadify-queue-item').length;
                    if (queueCount1 != "0") {
                        $.dialog.confirm("有未上传的图片，要上传么？", function () {
                            $('#uploadify1').uploadify('upload');
                        });
                    }
                    else if (queueCount2 != "0") {
                        $.dialog.confirm("有未上传的视频，要上传么？", function () {
                            $('#uploadify2').uploadify('upload');
                        });
                    } else {
                        CTRL.dialog = $.dialog.tips("数据处理中，请稍候...");
                        $.post('@Url.Action("_Add")' + '?randnum=' + Math.random(), $('form').serializeArray()).done(function (data) {
                            if (CTRL.dialog) CTRL.dialog.close();
                            $.dialog.alert(data.Message, function () {
                                if (!data.IsError) {
                                    if (parent.FUNC.afterAdd)
                                        parent.FUNC.afterAdd(data.Data);
                                }
                            });
                        });
                    }
                },
                //特殊处理帐号名称的
                datatype:
                    {

                    }
            });

            //初始化日期控件
            $(".Wdate").each(function () { $(this).focus(function () { WdatePicker(); }) });

            //初始化下拉框样式
            //$('#UserType').ligerComboBox({ width: "90%" });

            //初始化状态控件
            HS.UI.OnOffBtn($("#RecordStatus"));

            //绑定权限控制隐藏区
            $("#rotecontrol").toggle(function () { $("#rotecontrol_center").show(); $(this).children("span").removeClass("icon_control").addClass("icon_control_off"); },
                function () { $("#rotecontrol_center").hide(); $(this).children("span").removeClass("icon_control_off").addClass("icon_control"); });

            //绑定菜单类型控制
            $("input[name=MenuType]").click(function () {
                switch ($("input[name=MenuType]:checked").val()) {
                    case _MENUTYPE.Menu: $("#part1").show(); $("#MenuCode").removeClass("k-notnull "); break;
                    case _MENUTYPE.Function:
                    case _MENUTYPE.Data: $("#part1").hide(); $("#MenuPath").val(""); $("#MenuCode").addClass("k-notnull "); break;
                };
            });

            //初始化上传控件
            $("#uploadify1").uploadify({
                'swf': '/Components/Uploadify/uploadify.swf',
                'uploader': '/Components/Uploadify/net/UploadHandler.ashx',
                'buttonText': '选择图片',
                'queueID': 'fileQueue1',
                'formData': { 'fileType': 'image' },
                'fileTypeDesc': 'Image Files',
                'fileTypeExts': '*.gif; *.jpg; *.png;*.jpeg',
                'auto': false,
                'removeCompleted': true,
                'onSelect': function (file) {
                    $('#uploadify1').uploadify('disable', true);
                    $('#upload-button1').show();
                },
                'onUploadSuccess': function (file, data, response) {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                    $('#VC_IMAGE').val(data);
                    $('#img_show').attr('src', data);
                    $('#delete-button1').show();
                },
                'onCancel': function (file) {
                    $('#uploadify1').uploadify('disable', false);
                },
                'onClearQueue': function (queueItemCount) {
                    $('#uploadify1').uploadify('disable', false);
                }
            });

            $("#uploadify2").uploadify({
                'swf': '/Components/Uploadify/uploadify.swf',
                'uploader': '/Components/Uploadify/net/UploadHandler.ashx',
                'buttonText': '选择视频',
                'queueID': 'fileQueue2',
                'formData': { 'fileType': 'vedio' },
                'fileTypeDesc': 'Vedio Files',
                'fileTypeExts': '*.ogv; *.mp4; *.wembv;',
                'auto': false,
                'removeCompleted': true,
                'onSelect': function (file) {
                    $('#uploadify2').uploadify('disable', true);
                    $('#upload-button2').show();
                },
                'onUploadSuccess': function (file, data, response) {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                    $('#VC_VEDIO').val(data);
                    $('#vedio_show').attr('src', data);
                    $('#vedio_show').show();
                    $('#delete-button2').show();
                },
                'onCancel': function (file) {
                    $('#uploadify2').uploadify('disable', false);
                },
                'onClearQueue': function (queueItemCount) {
                    $('#uploadify2').uploadify('disable', false);
                }
            });
        });

    function delimage() {
        $.post('@Url.Action("_DelFile")' + '?randnum=' + Math.random(), { "filePath": $("#img_show").attr("src") }).done(function (data) {
            $.dialog.alert(data.Message, function () {
                if (!data.IsError) {
                    $('#uploadify1').uploadify('disable', false);
                    $('#upload-button1').hide();
                    $("#img_show").attr("src", "");
                    $('#delete-button1').hide();
                }
            });
        });
    }
    function delvedio() {
        var path = $("#vedio_show").attr("src");
        $("#vedio_show").attr("src", "");
        $.post('@Url.Action("_DelFile")' + '?randnum=' + Math.random(), { "filePath": path }).done(function (data) {
            $.dialog.alert(data.Message, function () {
                if (!data.IsError) {
                    $('#uploadify2').uploadify('disable', false);
                    $('#upload-button2').hide();
                    $("#vedio_show").hide();
                    $('#delete-button2').hide();
                }
                else
                    $("#vedio_show").attr("src", path);
            });
        });
    }
    </script>
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "valform" }))
{
    @Html.HiddenFor(c => c.N_COLUMN_ID)
    @Html.HiddenFor(c => c.N_SUPER_NAVIGATION_ID)
    <div class="pop-page">
        <div class="formtitle">新增导航</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 90px;">栏目编号：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.N_COLUMN_ID) </td>
                <td class="table-title" style="width: 90px;">栏目名称：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_COLUMN_NAME)</td>
                <td class="table-title" style="width: 90px;">上级导航：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_SUPER_NAVIGATION_NAME)
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">导航名称：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.VC_NAVIGATION_NAME, new { @class = "k-input pw90" })
                </td>
                <td class="table-title" style="width: 90px;">排序编号：
                </td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.N_ORDER_NO, new { @class = "k-input pw90" })
                </td>
                <td class="table-title" style="width: 90px;">页面打开方式：
                <span class="icon_help" title="_blank：在新窗口中打开被链接文档。
_self：默认。在相同的框架中打开被链接文档。
_parent：在父框架集中打开被链接文档。
_top：在整个窗口中打开被链接文档。
framename：在指定的框架中打开被链接文档。"></span></td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.VC_TARGET, new { @class = "k-input pw90" })
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">链接地址：</td>
                <td class="table-value" style="width: 150px;" colspan="5">
                    @Html.TextBoxFor(c => c.VC_LINK, new { @class = "k-input pw90" })
                </td>
            </tr>

        </table>
        <div class="formtitle">导航内容</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 20%;">图片：</td>
                <td class="table-value" style="width: 80%;">
                    <div id="fileQueue1"></div>
                    @Html.HiddenFor(c => c.VC_IMAGE, new { @class = "k-input pw90" })
                    <input type="file" name="uploadify" id="uploadify1" />
                    <div id="upload-button1" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="$('#uploadify1').uploadify('upload')"><span class="uploadify-button-text">上传图片</span></div>
                    <div id="delete-button1" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="delimage();"><span class="uploadify-button-text">删除图片</span></div>
                    <img id="img_show" style="max-width: 800px; max-height: 600px;" src="" />
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">视频：</td>
                <td class="table-value" style="width: 150px;">
                    <div id="fileQueue2"></div>
                    @Html.HiddenFor(c => c.VC_VEDIO, new { @class = "k-input pw90" })
                    <input type="file" name="uploadify" id="uploadify2" />
                    <div id="upload-button2" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="$('#uploadify2').uploadify('upload')"><span class="uploadify-button-text">上传视频</span></div>
                    <div id="delete-button2" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="delvedio();"><span class="uploadify-button-text">删除视频</span></div>
                    <video id="vedio_show" src="" style="max-width: 800px; max-height: 600px; display: none" controls="controls">
                        您的浏览器不支持 video 标签。
                    </video>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center; height: 40px; line-height: 40px;">
                    <a title="重置" class="btn1" href="javascript:$('form').get(0).reset();">重置<i></i></a>
                    <a title="保存" class="btn2" href="javascript:;" id="asave">保存<i></i></a></td>
            </tr>
        </table>
    </div>
    <div class="pop-page-bar">
    </div>
}
