@model Business.Model.Models.Navigation_S
@{
    ViewBag.Title = "添加导航";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section HeadContent{
    <link href="@Url.Content("~/Components/Uploadify/uploadify.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Components/Uploadify/jquery.uploadify.js")"></script>
    <script type="text/javascript">
        var CTRL = { art_parent: null, valform: null, dialog: null }
        $(function () {
            //初始化状态控件
            HS.UI.OnOffBtn($("#RecordStatus"));
        })
    </script>
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "valform" }))
{
    @Html.HiddenFor(c => c.ID)
    @Html.HiddenFor(c => c.N_COLUMN_ID)
    @Html.HiddenFor(c => c.N_SUPER_NAVIGATION_ID)
    <div class="pop-page">
        <div class="formtitle">新增导航</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 90px;">栏目编号：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.N_COLUMN_ID) </td>
                <td class="table-title" style="width: 90px;">栏目名称：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_COLUMN_NAME)</td>
                <td class="table-title" style="width: 90px;">上级导航：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_SUPER_NAVIGATION_NAME)
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">导航名称：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_NAVIGATION_NAME)
                </td>
                <td class="table-title" style="width: 90px;">排序编号：
                </td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.N_ORDER_NO)
                </td>
                <td class="table-title" style="width: 90px;">页面打开方式：
                <span class="icon_help" title="_blank：在新窗口中打开被链接文档。
_self：默认。在相同的框架中打开被链接文档。
_parent：在父框架集中打开被链接文档。
_top：在整个窗口中打开被链接文档。
framename：在指定的框架中打开被链接文档。"></span></td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_TARGET)
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">链接地址：</td>
                <td class="table-value" style="width: 150px;" colspan="5">
                    @Html.DisplayFor(c => c.VC_LINK)
                </td>
            </tr>

        </table>
        <div class="formtitle">导航内容</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 20%;">图片：</td>
                <td class="table-value" style="width: 80%;">
                    <img id="img_show" style="max-width: 800px; max-height: 600px" src="@Html.DisplayTextFor(c => c.VC_IMAGE)" />
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">视频：</td>
                <td class="table-value" style="width: 150px;">
                    <video id="vedio_show" src="@Html.DisplayTextFor(c => c.VC_VEDIO)" style="max-width: 800px; max-height: 600px; display: none" controls="controls">
                        您的浏览器不支持 video 标签。
                    </video>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center; height: 40px; line-height: 40px;">
                    <a title="重置" class="btn1" href="javascript:$('form').get(0).reset();">重置<i></i></a>
                    <a title="保存" class="btn2" href="javascript:;" id="asave">保存<i></i></a></td>
            </tr>
        </table>
    </div>
    <div class="pop-page-bar">
    </div>
}
