@model Business.Model.Models.Article_S
@{
    ViewBag.Title = "添加文章";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section HeadContent{
    @*百度编辑器*@
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Components/UEditor/ueditor.config.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Components/UEditor/ueditor.all.js")"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Components/UEditor/lang/zh-cn/zh-cn.js")"></script>
    @*uploadify*@
    <link href="@Url.Content("~/Components/Uploadify/uploadify.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Components/Uploadify/jquery.uploadify.js")"></script>
    @*JSON2*@
    <script href="@Url.Content("~/Content/JS/JSON2.js")"></script>
    <script type="text/javascript">
        var CTRL = { art_parent: null, valform: null, dialog: null, ue: null }
        $(function () {
            //获取父页面对象
            CTRL.art_parent = $.dialog.data("ParentWindow");

            //初始化编辑器
            CTRL.ue = UE.getEditor('editor', {
                toolbars: [
    [
        'anchor', //锚点
        'undo', //撤销
        'redo', //重做
        'bold', //加粗
        'indent', //首行缩进
        'snapscreen', //截图
        'italic', //斜体
        'underline', //下划线
        'strikethrough', //删除线
        'subscript', //下标
        'fontborder', //字符边框
        'superscript', //上标
        'formatmatch', //格式刷
        'source', //源代码
        'blockquote', //引用
        'pasteplain', //纯文本粘贴模式
        'selectall', //全选
        'print', //打印
        'preview', //预览
        'horizontal', //分隔线
        'removeformat', //清除格式
        'time', //时间
        'date', //日期
        'unlink', //取消链接
        'insertrow', //前插入行
        'insertcol', //前插入列
        'mergeright', //右合并单元格
        'mergedown', //下合并单元格
        'deleterow', //删除行
        'deletecol', //删除列
        'splittorows', //拆分成行
        'splittocols', //拆分成列
        'splittocells', //完全拆分单元格
        'deletecaption', //删除表格标题
        'inserttitle', //插入标题
        'mergecells', //合并多个单元格
        'deletetable', //删除表格
        'cleardoc', //清空文档
        'insertparagraphbeforetable', //"表格前插入行"
        'insertcode', //代码语言
        'fontfamily', //字体
        'fontsize', //字号
        'paragraph', //段落格式
        'simpleupload', //单图上传
        //'insertimage', //多图上传
        'edittable', //表格属性
        'edittd', //单元格属性
        'link', //超链接
        'emotion', //表情
        'spechars', //特殊字符
        'searchreplace', //查询替换
        'map', //Baidu地图
        'gmap', //Google地图
        'insertvideo', //视频
        'help', //帮助
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        'forecolor', //字体颜色
        'backcolor', //背景色
        'insertorderedlist', //有序列表
        'insertunorderedlist', //无序列表
        'fullscreen', //全屏
        'directionalityltr', //从左向右输入
        'directionalityrtl', //从右向左输入
        'rowspacingtop', //段前距
        'rowspacingbottom', //段后距
        'pagebreak', //分页
        'insertframe', //插入Iframe
        'imagenone', //默认
        'imageleft', //左浮动
        'imageright', //右浮动
        'attachment', //附件
        'imagecenter', //居中
        'wordimage', //图片转存
        'lineheight', //行间距
        'edittip ', //编辑提示
        'customstyle', //自定义标题
        'autotypeset', //自动排版
        'webapp', //百度应用
        'touppercase', //字母大写
        'tolowercase', //字母小写
        'background', //背景
        'template', //模板
        'scrawl', //涂鸦
        'music', //音乐
        'inserttable', //插入表格
        'drafts', // 从草稿箱加载
        'charts', // 图表
    ]
                ], elementPathEnabled: true, wordCount: true,
                //focus时自动清空初始化时的内容  
                autoClearinitialContent: true,
            });

            //验证提示动态代码
            $("*[datatype]").each(function (index) {
                $(this).before("<span class='prompt' style='position:relative'><div class='info' onMouseOut='javascript:$(this).hide();'><span class='Validform_checktip'></span><span class='dec'><s class='dec1'>&#9670;</s><s class='dec2'>&#9670;</s></span></div></span>");
            });

            //验证与提交（可以通过CTRL.valform.check()进行验证）
            CTRL.valform = $(".valform").Validform({
                tiptype: tiptype8,
                tipSweep: false,
                ajaxPost: true,
                btnSubmit: "#asave",
                callback: function () {
                    //if ($("#B_IMG_NEWS")[0].checked && $("#img_show").attr("src") == "") {
                    //    CTRL.dialog = $.dialog.tips("请上传图片");
                    //    return;
                    //}

                    CTRL.dialog = $.dialog.tips("数据处理中，请稍候...");
                    $.post('@Url.Action("_Add")' + '?randnum=' + Math.random(), $('form').serializeArray()).done(function (data) {
                        if (CTRL.dialog) CTRL.dialog.close();
                        $.dialog.alert(data.Message, function () {
                            if (!data.IsError) {
                                CTRL.art_parent.CTRL.Grid.loadData();//重载父页面grid
                                $.dialog.close();
                            }
                        });
                    });
                }
            });

            //初始化日期控件
            $(".Wdate").each(function () { $(this).focus(function () { WdatePicker(); }) });

            //初始化下拉框样式
            $('#UserType').ligerComboBox({ width: "90%" });

            //初始化控件
            HS.UI.OrganDropdownList($("#UserDeptID"), { width: "90%", selectBoxWidth: 160, selectBoxHeight: 200 });
            HS.UI.OnOffBtn($("#C_STATUS"));

            //初始化上传控件
            $("#uploadify").uploadify({
                'swf': '/Components/Uploadify/uploadify.swf',
                'uploader': '/Components/Uploadify/net/UploadHandler.ashx',
                'buttonText': '选择图片',
                'queueID': 'fileQueue',
                'formData': { 'fileType': 'image' },
                'fileTypeDesc': 'Image Files',
                'fileTypeExts': '*.gif; *.jpg; *.png;*.jpeg',
                'auto': false,
                'removeCompleted': true,
                'onSelect': function (file) {
                    $('#uploadify').uploadify('disable', true);
                    $('#upload-button').show();
                },
                'onUploadSuccess': function (file, data, response) {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                    $('#VC_IMG_URL').val(data);
                    $('#img_show').attr('src', data);
                    $('#delete-button').show();
                },
                'onCancel': function (file) {
                    $('#uploadify').uploadify('disable', false);
                },
                'onClearQueue': function (queueItemCount) {
                    $('#uploadify').uploadify('disable', false);
                }
            });

        });
        function delimage() {
            $.post('@Url.Action("_DelFile")' + '?randnum=' + Math.random(), { "filePath": $("#img_show").attr("src") }).done(function (data) {
                $.dialog.alert(data.Message, function () {
                    if (!data.IsError) {
                        $("#VC_IMG_URL").val("");
                        $('#uploadify').uploadify('disable', false);
                        $('#upload-button').hide();
                        $("#img_show").attr("src", "");
                        $('#delete-button').hide();
                    }
                });
            });
        }
    </script>
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "valform" }))
{
    <div class="pop-page">
        <div class="formtitle">新增文章</div>
        @Html.HiddenFor(c => c.N_COLUMN_ID)
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 90px;">所属栏目：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.VC_COLUMN_NAME)
                </td>
                <td class="table-title" style="width: 90px;">标题：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.VC_TITLE, new { @class = "k-input k-notnull pw90", datatype = "*", nullmsg = "请输入用户姓名！", errormsg = "用户姓名不少于2位！" })
                </td>
                <td class="table-title">状态：</td>
                <td class="table-value">
                    @Html.TextBoxFor(c => c.C_STATUS)
                </td>
            </tr>
            <tr>
                <td class="table-title">关键字：</td>
                <td class="table-value">
                    @Html.TextBoxFor(c => c.VC_KEYWORDS, new { @class = "k-input pw90", nullmsg = "请选择用户部门！", errormsg = "请选择用户部门！" })
                </td>
                <td class="table-title" style="width: 90px;">推荐级别：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DropDownListFor(c => c.C_RECOMMEND_LEVEL, typeof(EMRECOMMENDLEVEL).EnumToSelectList(), new { @class = "search-input w100" })
                </td>
                <td class="table-title" style="width: 90px;">是否图片新闻</td>
                <td class="table-value" style="width: 90px;">@Html.CheckBoxFor(c => c.B_IMG_NEWS)</td>
            </tr>
            <tr>
                <td colspan="6">
                    <script id="editor" type="text/plain" style="width: 900px; height: 200px;">
                        <font style="color:#eda7a7"></font>
                    </script>
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">图片：</td>
                <td class="table-value" style="width: 150px;" colspan="5">
                    <div id="fileQueue"></div>
                    @Html.HiddenFor(c => c.VC_IMG_URL, new { @class = "k-input pw90" })
                    <input type="file" name="uploadify" id="uploadify" />
                    <div id="upload-button" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="$('#uploadify').uploadify('upload')"><span class="uploadify-button-text">上传图片</span></div>
                    <div id="delete-button" class="upload-button" style="display: none; height: 30px; line-height: 30px; width: 120px;" onclick="delimage();"><span class="uploadify-button-text">删除图片</span></div>
                    <img id="img_show" style="max-width: 240px; max-height: 180px;" src="" />
                </td>
            </tr>
        </table>
    </div>
    <div class="pop-page-bar">
        <a title="返回" class="btn1" href="javascript:$.dialog.close();">返回<i></i></a>
        <a title="重置" class="btn1" href="javascript:$('form').get(0).reset();">重置<i></i></a>
        <a title="保存" class="btn2" href="javascript:;" id="asave">保存<i></i></a>
    </div>
}
