@model Business.Model.Models.Article_S
@{
    ViewBag.Title = "文章管理";

    ViewBag.Modules = "Article";
    ViewBag.Ext = "Add";
    
    Layout = "~/Views/Shared/_Add.cshtml";
}

<fieldset class="layui-elem-field layui-field-title">
    <legend>文章编辑</legend>
</fieldset>

<div class="layui-inline">
    <label class="layui-form-label add-k">所属栏目</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.VC_COLUMN_NAME,
        new
        {
            @class = "layui-input layui-disabled",
            @readonly = "readonly"
        })
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label add-k">推荐级别</label>
    <div class="layui-input-inline add-v">
        @Html.DropDownListFor(c => c.C_RECOMMEND_LEVEL, typeof(EMRECOMMENDLEVEL).EnumToSelectList())
    </div>
</div>


<div class="layui-inline">
    <label class="layui-form-label add-k">标题</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.VC_TITLE,
        new
        {
            @class = "layui-input",
            lay_verify = "q-required",
            placeholder = "请输入标题"
        })
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label add-k">状态</label>
    <div class="layui-input-inline add-v border-v">
        <input type="checkbox" id="C_STATUS" name="C_STATUS" lay-skin="switch" lay-text = "启用|禁用" value = "@(Model.C_STATUS)" />
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label add-k">关键字</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.VC_KEYWORDS,
        new
        {
            @class = "layui-input"
        })
    </div>
</div>



<div class="layui-inline">
    <label class="layui-form-label add-k">是否图片新闻</label>
    <div class="layui-input-inline add-v border-v">
        <input type="checkbox" id="B_IMG_NEWS" name="B_IMG_NEWS" lay-skin="switch" lay-text = "是|否" value = "@(Model.B_IMG_NEWS)" />
    </div>
</div>

<div class="layui-block B_IMG_NEWS">
    <div class="layui-upload-drag photo-info-fixed" id="article-area">
        <div class="photo-info" id="article-img">
           
        </div>
        <i class="icon-cloud-upload" style="font-size:16px;margin-right:5px;"></i>
        <span class="photo-info-text">拖拽于此或点击上传
        </span>
    </div>
</div>

<div class="layui-block">
    <script id="editor" type="text/plain" style="width:96%;height:900px;">@Html.DisplayTextFor(c => c.VC_CONTENT)</script>
</div>



@section HiddenArea {
    @Html.HiddenFor(c => c.ID)
    @Html.HiddenFor(c => c.N_COLUMN_ID)
    @Html.HiddenFor(c => c.DT_ADD_TIME)
    @Html.HiddenFor(c => c.N_ADD_OP_ID)
    @Html.HiddenFor(c => c.C_VERIFY_STATUS)
    @Html.HiddenFor(c => c.VC_IMG_URL)
}

@section HeadContent{
    <script src="@Url.Content("~/Assets/Res/Components/UEditor/ueditor.config.js")"></script>
    <script src="@Url.Content("~/Assets/Res/Components/UEditor/ueditor.all.js")"></script>
}


