@model Business.Model.Models.Article_S
@{
    ViewBag.Title = "文章列表";
    Layout = "~/Views/Shared/_List.cshtml";
}
@section HeadContent
{
    <script type="text/javascript">
        var FUNC = { Search: null, Show: null, Add: null, Edit: null, Del: null, View: null };
        var CTRL = { SearchBar: null, TollBar: null, Grid: null, Dialog: null };
        $(function () {
            //查询条
            CTRL.SearchBar = $.SearchBar({ contentid: "SearchCentext1", searchFun: FUNC.Search, width: 600, height: 300, dir: "right" });
            //工具栏
            CTRL.TollBar = $.ToolBar({
                contentid: "BtnToolBar", data: [
                    { id: "btnAdd", text: "新 增", onClick: FUNC.Add/*, funMenuCode: "Add"*/ },
                    { id: "btnEdit", text: "修改", onClick: FUNC.Edit },
                    { id: "btnDel", text: "删 除", onClick: FUNC.Del },
                    //{ id: "btnShow", text: "预 览", onClick: FUNC.View }
                ]
            });

            //列表结构
            CTRL.Grid = $("#maingrid").ligerGrid({
                columns: [
                    {
                        display: "标题", name: "VC_TITLE", type: "text", align: "center", width: 350,
                        render: function (row) {
                            var html = "";
                            var title = "";
                            if (row.VC_TITLE.length > 30)
                                title = row.VC_TITLE.substr(0, 27) + "...";
                            else
                                title = row.VC_TITLE;
                            html += "<span title='" + row.VC_TITLE + "'>" + title + "</span>";
                            return html;
                        }
                    },
                    { display: "所属栏目", name: "VC_COLUMN_NAME", type: "text", align: "center", width: 80 },
                    {
                        display: "内容", name: "VC_CONTENT", type: "text", align: "center", width: 140,
                        render: function (row) {
                            //var html = "<div>" + row.VC_CONTENT + "</div>"
                            var html = "双击查看详细内容..."
                            return html;
                        }
                    },
                    {
                        display: "添加时间", name: "DT_ADD_TIME", type: "datetime", align: "center", width: 180,
                        render: function (row) {
                            var html = '';
                            html += row.DT_ADD_TIME.formatDate('yyyy-MM-dd hh:mm:ss');
                            return html;
                        }
                    },
                    {
                        display: "修改时间", name: "DT_UPDATE_TIME", type: "datetime", align: "center", width: 180,
                        render: function (row) {
                            var html = '';
                            html += row.DT_UPDATE_TIME.formatDate('yyyy-MM-dd hh:mm:ss');
                            return html;
                        }
                    },
                    { display: "添加人", name: "VC_ADD_OP_NAME", type: "text", align: "center", width: 80 },
                    { display: "修改人", name: "VC_UPDATE_OP_NAME", type: "text", align: "center", width: 80 },
                    {
                        display: "是否图片新闻", name: "B_IMG_NEWS", type: "text", align: "center", width: 80,
                        render: function (row) {
                            var html = "";
                            if (row.B_IMG_NEWS == null || row.B_IMG_NEWS == "0")
                                html += "否";
                            else
                                html += "是";
                            return html;
                        }
                    },
                    { display: "推荐等级", name: "VC_RECOMMEND_NAME", type: "text", align: "center", width: 80 },
                    {
                        display: "状态", name: "C_STAUTS", type: "text", align: "center", width: 80, render: function (row) {
                            var html = "";
                            if (row.C_STATUS == "0")
                                html = "<font style='color:red'>隐藏</font>";
                            if (row.C_STATUS == "1")
                                html = "<font style='color:blue'>显示</font>";
                            return html;
                        }
                    },
                    {
                        display: '操作', isAllowHide: false, width: 100,
                        render: function (row) {
                            var html = "";
                            html += "<a href='#" + row.ID+ "' onclick=\"FUNC.Edit('" + row.ID + "');\">编辑</a>&nbsp;&nbsp;";
                            html += "<a href='#2" + row.ID + "' onclick=\"FUNC.Del('" + row.ID + "');\">删除</a>&nbsp;&nbsp;";
                            //html += "<a href='#' onclick=\"FUNC.View('" + row.ID + "');\">预览</a>&nbsp;&nbsp;";
                            return html;
                        }
                    }
                ],
                pageSize: 25, sortOrder: 'Asc', sortName: 'ID', url: '@Url.Action("_ArticleList")', parms: [
                { name: "N_COLUMN_ID", value: $("#N_COLUMN_ID").val() }
                ],
                rowDraggable: false, rownumbers: true, enabledSort: false, height: '100%', heightDiff: -5, checkbox: true,
                onDblClickRow: function (data, rowindex, rowobj) {
                    FUNC.Show(data.ID, rowobj, rowindex);
                },

                //, onAfterShowData: function () { LigerUiExtend.MergeCell("maingrid", "Extend3"); } //合并单元格，列要写明ID
            });


        });
        //查询方法
        FUNC.Search = function () {
            var searchData = [
                { name: "N_COLUMN_ID", value: $("#N_COLUMN_ID").val() },
            { name: "VC_TITLE", value: $("#VC_TITLE").val() }
            ];

            if (!CTRL.Grid) return;

            //根据查询条件刷新列表数据
            CTRL.Grid.setOptions({ newPage: 1 });
            CTRL.Grid.set('parms', LigerUiExtend.ParmsMerge(CTRL.Grid.get('parms'), searchData));
            CTRL.Grid.loadData();
            if (CTRL.SearchBar) {
                CTRL.SearchBar.Hide();//隐藏查询框
                CTRL.SearchBar.SetText();//设置查询条内容
            }
        }
        //查看详细
        FUNC.Show = function (id, rowobj, rowinidex) {
            var url = '@Url.Action("Show")' + "?ArticleID=" + id;
            $.dialog.data("ParentWindow", window);
            $.dialog.open(url, { title: '查看', width: 950, height: 600, lock: true, resize: false }, false);
        }
        //新增
        FUNC.Add = function () {
            var url = '@Url.Action("Add")' + "?columnid=" + $('#N_COLUMN_ID').val();
            $.dialog.data("ParentWindow", window);
            $.dialog.open(url, { title: '新增', width: 950, height: 600, lock: true, resize: false }, false);
        }
        //编辑
        FUNC.Edit = function (id) {
            if (!id) {
                var selRows = CTRL.Grid.getSelectedRows();
                if (selRows.length == 0) {
                    $.dialog.alert("请选择要修改的数据！");
                    return;
                }
                if (selRows.length > 1) {
                    $.dialog.alert("请选择一条数据进行操作！");
                    return;
                }
                var row = selRows[0];
                id = row.ID;
            }
            var url = '@Url.Action("Edit")' + "?ArticleID=" + id;
            $.dialog.data("ParentWindow", window);
            $.dialog.open(url, { title: '编辑', width: 950, height: 600, lock: true, resize: false }, false);
        }
        //删除
        FUNC.Del = function (ids) {
            if (!ids) {
                var selRows = CTRL.Grid.getSelectedRows();
                if (selRows.length == 0) {
                    $.dialog.alert("请选择要删除的数据！");
                    return;
                }
                $(selRows).each(function () {
                    ids += ids != "" ? "," : "";
                    ids += this.ID;
                });
            }
            var url = '@Url.Action("_Delete")' + '?randnum=' + Math.random();
            // var url = '@Url.Action("_Delete")' + '?randnum=' + ids;
            $.dialog.confirm("确认要删除该数据吗？", function () {

                $.post(url, { ids: ids }).done(function (data) {
                    $.dialog.alert(data.Message, function () {
                        if (!data.IsError)
                            CTRL.Grid.loadData();
                    });
                });
            });
        }
        //分配角色
        FUNC.AllotRole = function (id) {
            var url = '@Url.Action("UserRoleList", "Role")' + "?UserID=" + id;
            $.dialog.data("ParentWindow", window);
            $.dialog.open(url, { title: '分配用户角色', width: 400, height: 450, lock: true, resize: false }, false);
        }
        //重置密码
        FUNC.ResetPwd = function () {
            var url = '@Url.Action("_ResetPwd")';
            var selRows = CTRL.Grid.getSelectedRows();
            if (selRows.length == 0) {
                $.dialog.alert("请选择要删除的数据！");
                return;
            }
            if (selRows.length > 1) {
                $.dialog.alert("请选择一条数据进行操作！");
                return;
            }
            var row = selRows[0];
            $.dialog.confirm("确认要将用户" + row["UserDisplayName"] + "密码重置吗？", function () {
                $.post(url, { UserID: row["ID"] }).done(function (data) {
                    $.dialog.alert(data.Message);
                });
            });
        }

    </script>
}

<div class="toolbar">
    @*工具栏*@
    <div id="BtnToolBar" style="">
    </div>
    @*搜索栏*@
    <div id="SearchCentext1" class="search-box">
        <div class="fl" style="width: 220px">
            <div class="fl">所属栏目：</div>
            <div class="fl">
                @Html.TextBoxFor(c => c.VC_COLUMN_NAME, new { @class = "search-input w120" })
            </div>
        </div>
        <div class="fl" style="width: 220px">
            <div class="fl">标题：</div>
            <div class="fl">
                @Html.TextBoxFor(c => c.VC_TITLE, new { @class = "search-input w120" })
            </div>
        </div>
    </div>
</div>
<div id="maingrid" class="list" style="top: 0; clear: both">
</div>
<div style="display: none">@Html.HiddenFor(c => c.N_COLUMN_ID)</div>
