@model Business.Model.Models.Column_S
@{
    ViewBag.Title = "添加栏目";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section HeadContent{
    <script type="text/javascript">
        var CTRL = { art_parent: null, valform: null, dialog: null }
        $(function () {
            //验证提示动态代码
            $("*[datatype]").each(function (index) {
                $(this).before("<span class='prompt' style='position:relative'><div class='info' onMouseOut='javascript:$(this).hide();'><span class='Validform_checktip'></span><span class='dec'><s class='dec1'>&#9670;</s><s class='dec2'>&#9670;</s></span></div></span>");
            });

            //验证与提交（可以通过CTRL.valform.check()进行验证）
            CTRL.valform = $(".valform").Validform({
                tiptype: tiptype8,
                tipSweep: false,
                ajaxPost: true,
                btnSubmit: "#asave",
                callback: function () {
                    CTRL.dialog = $.dialog.tips("数据处理中，请稍候...");
                    $.post('@Url.Action("_Add")' + '?randnum=' + Math.random(), $('form').serializeArray()).done(function (data) {
                        if (CTRL.dialog) CTRL.dialog.close();
                        $.dialog.alert(data.Message, function () {
                            if (!data.IsError) {
                                if (parent.FUNC.afterAdd)
                                    parent.FUNC.afterAdd(data.Data);
                            }
                        });
                    });
                },
                //特殊处理帐号名称的
                datatype:
                    {
                        "MenuCode": function (gets, obj, curform, regxp) {/*参数gets是获取到的表单元素值，obj为当前表单元素，curform为当前验证的表单，regxp为内置的一些正则表达式的引用。*/
                            var msg = "";
                            if ($("input[name=MenuType]:checked").val() == _MENUTYPE.Function) {
                                if (gets == "") return "功能菜单必须填写菜单编号！";
                                var url = '@Url.Action("_MenuFuncCodeIsSuc")';
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    async: false,
                                    data: { MenuCode: gets, PerMenuID: $("#PerMenuID").val(), n: Math.random() },
                                    success: function (res) {
                                        if (res == true)
                                            msg = "同级菜单中已经存在该菜单编号！";
                                    }
                                });
                            } else if ($("input[name=MenuType]:checked").val() == _MENUTYPE.Data) {
                                if (gets == "") return "数据权限必须填写权限编号！";
                                var url = '@Url.Action("_MenuDataCodeIsSuc")';
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    async: false,
                                    data: { MenuCode: gets, n: Math.random() },
                                    success: function (res) {
                                        if (res == true)
                                            msg = "该数据权限编号已存在！";
                                    }
                                });
                            }
                            if (msg != "")
                                return msg;
                            else
                                return true;
                        },
                        "Routing": function (gets, obj, curform, regxp) {
                            if (($("#Controller").val() != "" && $("#Action").val() == "") ||
                                ($("#Controller").val() == "" && $("#Action").val() != "")) {
                                return "权限控制Controller和Action必须同时填写！";
                            } else
                                return true;
                        }
                    }
            });

            //初始化日期控件
            $(".Wdate").each(function () { $(this).focus(function () { WdatePicker(); }) });

            //初始化下拉框样式
            //$('#UserType').ligerComboBox({ width: "90%" });

            //初始化状态控件
            HS.UI.OnOffBtn($("#RecordStatus"));

            //绑定权限控制隐藏区
            $("#rotecontrol").toggle(function () { $("#rotecontrol_center").show(); $(this).children("span").removeClass("icon_control").addClass("icon_control_off"); },
                function () { $("#rotecontrol_center").hide(); $(this).children("span").removeClass("icon_control_off").addClass("icon_control"); });

            //绑定菜单类型控制
            $("input[name=MenuType]").click(function () {
                switch ($("input[name=MenuType]:checked").val()) {
                    case _MENUTYPE.Menu: $("#part1").show(); $("#MenuCode").removeClass("k-notnull "); break;
                    case _MENUTYPE.Function:
                    case _MENUTYPE.Data: $("#part1").hide(); $("#MenuPath").val(""); $("#MenuCode").addClass("k-notnull "); break;
                };
            });
        });

    </script>
}
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "valform" }))
{
    @Html.HiddenFor(c => c.SuperColumnId)
    <div class="pop-page">
        <div class="formtitle">新增栏目</div>
        <table class="tableread" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="table-title" style="width: 90px;">上级栏目：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.DisplayFor(c => c.SuperColumnName)
                </td>
                <td class="table-title" style="width: 90px;">栏目编号：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.ColumnNo, new { @class = "k-input k-notnull pw90", datatype = "*", nullmsg = "请输入栏目编号！", errormsg = "请输入栏目编号！" })
                </td>
                <td class="table-title" style="width: 90px;">栏目名称：</td>
                <td class="table-value" style="width: 150px;">
                    @Html.TextBoxFor(c => c.ColumnName, new { @class = "k-input k-notnull pw90", datatype = "*", nullmsg = "请输入栏目名称！", errormsg = "请输入栏目名称！" })
                </td>
            </tr>
            <tr>
                <td class="table-title" style="width: 90px;">功能类型：<span class="icon_help" title="功能类型由超级管理员在字典表中维护。"></span>
                </td>
                <td class="table-value" style="width: 150px;">
                    @Html.DropDownListFor(c => c.FunctionType, new SelectList(ViewBag.FunType, "Value", "Text", "0"), new { @class = "k-select pw90" })
                </td>
                <td class="table-title" style="width: 90px;">排序编号：</td>
                <td class="table-value" style="width: 150px;">
                   @Html.TextBoxFor(c => c.OrderNo, new { @class = "k-input pw90"})
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center; height: 40px; line-height: 40px;">
                    <a title="重置" class="btn1" href="javascript:$('form').get(0).reset();">重置<i></i></a>
                    <a title="保存" class="btn2" href="javascript:;" id="asave">保存<i></i></a></td>
            </tr>
        </table>
    </div>
    <div class="pop-page-bar">
    </div>
}
