@model Manage.Core.Models.Menu_S
@{
    ViewBag.Title = "查看菜单";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section HeadContent{
    <script type="text/javascript">
        var CTRL = { art_parent: null, valform: null, dialog: null }
        var _MENUTYPE = { Menu: '@((int)MenuType.Menu)', Function: '@((int)MenuType.Function)' };
        $(function () {
            //绑定权限控制隐藏区
            $("#rotecontrol").toggle(function () { $("#rotecontrol_center").show(); $(this).children("span").removeClass("icon_control").addClass("icon_control_off"); },
                function () { $("#rotecontrol_center").hide(); $(this).children("span").removeClass("icon_control_off").addClass("icon_control"); });

            MenuTypeController();

        });

        function MenuTypeController() {
            switch ($("#MenuType").val()) {
                case _MENUTYPE.Menu: $("#part1").show(); $("#MenuCode").removeClass("k-notnull "); break;
                case _MENUTYPE.Function:
                case _MENUTYPE.Data: $("#part1").hide(); $("#MenuPath").val(""); $("#MenuCode").addClass("k-notnull "); break;
            };
        }

    </script>
}
<div class="pop-page">
    <div class="formtitle">查看菜单</div>
    <table class="tableread" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="table-title" style="width: 90px;">上级菜单：</td>
            <td class="table-value" style="width: 150px;">
                @Html.DisplayFor(c => c.PerMenuName)
            </td>
            <td class="table-title" style="width: 90px;">菜单名称：</td>
            <td class="table-value" style="width: 150px;">
                @Html.DisplayFor(c => c.MenuName)
            </td>
            <td class="table-title" style="width: 90px;">类型：<span class="icon_help" title="功能：页面内按钮权限设置。"></span>
            </td>
            <td class="table-value" style="width: 150px;">
                @Html.Encode(Model.MenuType.ToString().ConvertToEnum<MenuType_ZH>().ToString())
                @Html.HiddenFor(c => c.MenuType)
            </td>
        </tr>
        <tr id="part1">
            <td class="table-title">菜单地址：</td>
            <td class="table-value" colspan="5">
                @Html.DisplayFor(c => c.MenuPath)
            </td>
        </tr>
        <tr>
            <td class="table-title">菜单编号：<span class="icon_help" title="功能菜单通过菜单编号与页面按钮进行关联。"></span></td>
            <td class="table-value">
                @Html.DisplayFor(c => c.MenuCode)
            </td>
            <td class="table-title">排序号：</td>
            <td class="table-value">
                @Html.DisplayFor(c => c.MenuOrder)
            </td>
            <td class="table-title">状态：</td>
            <td class="table-value">
                @{if (Model.RecordStatus == (int)RecordStatus.Enable)
                  {
                    <span style="color: green;">启用</span>
                  }
                  else
                  { 
                    <span style="color: red;">禁用</span>                      
                  }
                }
            </td>
        </tr>
        <tr>
            <td class="table-title">菜单描述：</td>
            <td class="table-value" colspan="5">
                @Html.DisplayFor(c => c.MenuDesc)
            </td>
        </tr>
        <tr>
            <td colspan="6" class="secondtitle" style="cursor: pointer;" id="rotecontrol">权限控制
                    &nbsp;&nbsp;<span class="icon_control" id="control"></span>
            </td>
        </tr>
        <tbody id="rotecontrol_center" style="display: none;">
            <tr>
                <td class="table-title">Area：</td>
                <td class="table-value">
                    @Html.DisplayFor(c => c.Area)
                </td>
                <td class="table-title">Controller：</td>
                <td class="table-value">
                    @Html.DisplayFor(c => c.Controller)
                </td>
                <td class="table-title">Action：</td>
                <td class="table-value">
                    @Html.DisplayFor(c => c.Action)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pop-page-bar">
</div>
